<div class="align-self-center d-flex flex-column gap-2">
    <img
        src="{{ asset('images/404.png') }}"
        alt="No Comic Placeholder"
        class="mx-auto"
        style="max-height: 128px;"
    />
    <span class="align-self-center fs-5">No comic found.</span>
</div>
